# Sample gitconfig
#
# You probably want to change the [user] section here since you are not me.

[user]
	name = Julio Makdisse Saito
	email = saitodisse@gmail.com
[credential]
	helper = store
[alias]
    co                = checkout
    count             = !git shortlog -sn
	g                 = grep --break --heading --line-number
	changed           = show --pretty=\"format:\" --name-only
	gi                = grep --break --heading --line-number -i
[color]
    diff = auto
    status = auto
    branch = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
    compression = -1
	autocrlf = input
[apply]
    whitespace = nowarn
[help]
    autocorrect = 1
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = simple
[mergetool "kdiff3"]
	cmd = "kdiff3 $LOCAL $REMOTE --output $LOCAL"
    keepBackup = false
    trustExitCode = false
[difftool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3NoAuto
[mergetool "kdiff3NoAuto"]
	cmd = kdiff3 --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[init]
	defaultBranch = main
	templatedir = /home/saito/.git-templates
