"*":
  "exception-reporting":
    userId: "29e05f29-2523-a138-a047-74dc8aa070e6"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai-dark"
    ]
    projectHome: "/home/julio/_git"
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    fontSize: 18
  linter:
    subtleLinterErrors: [
      "jshint"
    ]
  "atom-alignment": {}
  "highlight-selected": {}
  "autocomplete-plus":
    autoActivationDelay: 300
    maxVisibleSuggestions: 5
    confirmCompletion: "enter"
  "spell-check": {}
  "markdown-preview": {}
  react: {}
  tasks:
    completeMarker: "- [x]"
    baseMarker: "- [ ]"
    cancelledMarker: "[ cancelled ]"
  "merge-conflicts": {}
  "git-blame-plus": {}
