"*":
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "1"
    ]
  core:
    disabledPackages: [
      "linter-jshint"
      "linter-jsxhint"
      "linter-jscs"
      "linter-jscs"
      "tasks"
      "react"
      "motepair"
      "highlight-selected"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  docblockr: {}
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 20
    invisibles: {}
    nonWordCharacters: "./\\\\()\\\"':,.;<>~!@#%^&*|+=[]{}`~?-"
    preferredLineLength: 120
  "exception-reporting":
    userId: "85a745d0-0425-f91b-6cbd-abbedd8e3643"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    ignoreCase: true
    onlyHighlightWholeWords: false
  linter: {}
  "linter-eslint": {}
  "linter-jscs":
    harmony: true
    verbose: true
  "linter-jshint": {}
  "linter-jsxhint":
    harmony: true
  "markdown-writer":
    fileExtension: ".md"
  motepair: {}
  "quick-highlight":
    countDisplayPosition: "Right"
    displayCountOnStatusBar: false
    highlightSelectionDelay: 30
  react: {}
  tasks:
    archiveSeparator: "-----------------------"
    baseMarker: "- [ ]"
    cancelledMarker: "- [-]"
    completeMarker: "- [x]"
  typewriter: {}
  valign:
    COLON:
      align: "right"
      padding: "both"
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
".text.todo":
  editor:
    preferredLineLength: 120
"source.gfm":
  editor:
    softWrap: true
