system
config/options/find.recents.xml
config/options/**/*statistics*.*
config/options/recentProjectDirectories.xml
config/options/find.xml
config/plugins/availables.xml
config/options/dimensions.xml
config/port
config/port.lock
config/tasks
*.pwd
