[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=/usr/bin/telegram-desktop
Comment=/usr/bin/telegram-desktop
Exec=/usr/bin/telegram-desktop
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

