[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Chrome Whatsapp
Comment=
Exec=/usr/bin/google-chrome-stable --user-data-dir="/home/saito/.config/google-chrome-latife" https://web.whatsapp.com/
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

