[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Inicializa do BIN
Comment=
Exec=/home/saito/_git/dotfiles/bin/iniciar_xfce.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

